.particles-js {
  position: absolute;
  z-index: 0;
}

.container {
  position: absolute;
  z-index: 1;
  height: 30em;
  width: 60em;
  margin: 0 80px 100px 80px;
}

.terminal-container {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--terminal-container);
  margin-top: 40px;
  width: 60em;
  height: 30em;
}

.terminal-header {
  /* background-color: #4c5562; */
  background-color: #4c5562;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #fff;
  font-weight: 900;
  flex-direction: row;
  /* bottom: 100px; */
  padding: 10px 0;
  text-align: center;
  /* width: 60em; */
}

.terminal-icon {
  margin-right: 10px;
  margin-bottom: -5px;
}

.user-side {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.terminal-bash {
  color: var(--main-green);
  font-weight: 700;
  margin-left: 10px;
  font-size: 1em;
}

.cursor {
  width: 10px;
  color: var(--main-green);
  transition: 0.2s;
  width: 1em;
  font-size: 1em;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.5em solid var(--main-green);
  animation: cursor 50ms steps(500) infinite;
}

.terminal-text {
  color: #fff;
  max-width: fit-content;
}


.line1 {
  animation: typewritter 2s steps(20) infinite;
}
.line2 {
  animation: typewritter 2s steps(20) infinite;
}
.line3 {
  animation: typewritter 2s steps(20) infinite;
}
.line4 {
  animation: typewritter 2s steps(20) infinite;
}
.line5 {
  animation: typewritter 2s steps(20) infinite;
}


@keyframes cursor {
  0% {
    border-right-color: var(--main-green);
  }
  25% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: var(--main-green);
  }
  75% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: var(--main-green);
  }
  0% {
    border-right-color: transparent;
  }
  90% {
    border-right-color: var(--main-green);
  }
  100% {
    border-right-color: transparent;
  }
}

@keyframes typewritter {
  0% {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  20% {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  25% {
    width: 25%;
    height: 1em;
    visibility: hidden;
  }
  30% {
    width: 50%;
    height: 1em;
    visibility: hidden;
  }
  50% {
    width: 75%;
    height: 1em;
  }
  100% {
    width: 100%;
    height: 1em;
  }
}
