.navbar-container {
  align-items: center;
  background-color: var(--ligh-gray);
  border: 2px dashed var(--main-green);
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.2em;
  height: 2em;
  /* correct this shit */

  /* margin-left: 25%; */
  /* width: fit-content; */
  max-width: 50vw;
  margin-left: 15%;

  /* correct this shit */

  position: relative;
  padding: 10px 40px;
  top: 10px;
  z-index: 5;
}

.navbar-link {
  align-items: center;
  color: var(--main-green);
  font-size: 1.2em;
  font-weight: 500;
  justify-content: space-around;
  padding: 10px 15px;
  text-decoration: none;
  width: fit-content;
}

.navbar-link :hover {
  border-top: var(--main-green);
  color: var(--main-green);
  font-size: 1.5em;
  font-weight: 900;
  transition: 1s;
}

.active {
  border-bottom: 2px solid var(--main-green);
  color: var(--main-green);
  font-weight: 700;
  text-decoration: none;
  transition: 1s;
}

.active :hover {
  border-top: var(--main-green);
  color: var(--main-green);
  font-size: 1.5em;
  font-weight: 900;
  transition: 1s;
}

/* ------------------------------------------------------ */

/* .link {
  color: #4f5357;
  text-decoration: none;
}    

.link:hover {
  color: #4f5357;
  text-decoration: underline;
  transition: .5s;
}     */
