.navbar-container {
  align-items: center;
  background-color: var(--ligh-gray);
  border: 2px dashed var(--main-green);
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 1.2em;
  height: 2em;
  margin-left: 6vw;
  padding: 1em 1.5em;
  position: relative;
  top: 1em;
  width: 69.5vw;
}

.navbar-link {
  align-items: center;
  color: var(--main-green);
  font-size: 1.2em;
  font-weight: 500;
  justify-content: space-around;
  padding: 5px 1.5em;
  text-decoration: none;
}

.navbar-link :hover {
  border-top: var(--main-green);
  color: var(--main-green);
  font-size: 1.5em;
  font-weight: 900;
  transition: 1s;
}

.active {
  border-bottom: 4px solid var(--main-green);
  color: var(--main-green);
  font-weight: 700;
  text-decoration: none;
  transition: 1s;
}

.active :hover {
  border-top: var(--main-green);
  color: var(--main-green);
  font-size: 1.5em;
  font-weight: 900;
  transition: 1s;
}

/* ------------------------------------------------------ */

/* .link {
  color: #4f5357;
  text-decoration: none;
}    

.link:hover {
  color: #4f5357;
  text-decoration: underline;
  transition: .5s;
}     */
