.navbar-container {
  background-color: var(--ligh-gray);
  border: 2px dashed var(--main-green);
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  height: 2em;
  margin: auto;
  position: relative;
  padding: 10px;
  top: 10px;
  width: fit-content;
  z-index: 5;
}

.navbar-link {
  font-weight: 500;
  color: var(--main-green);
  font-size: 1.2em;
  padding: 10px 15px;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  width: fit-content;
}

.navbar-link:hover {
  text-decoration: none;
  font-weight: 800;
  /* font-size: 2; */
  transition: 1s;
  color: var(--ligh-gray);
}


.active {
  border-bottom: 3px solid var(--main-green);
  color: var(--main-green);
  font-weight: 500;
  text-decoration: none;
  transition: 1s;
}    

.active:hover {
  color: var(--main-green);
  font-weight: 800;
  text-decoration: none;
  transition: 1s;
}  


/* ------------------------------------------------------ */

/* .link {
  color: #4f5357;
  text-decoration: none;
}    

.link:hover {
  color: #4f5357;
  text-decoration: underline;
  transition: .5s;
}     */

