.skills-container {
  display: relative;
  border: 2px solid red;
  margin-left: 6vw;
  text-align: center;
  z-index: 3;
  width: 60em;
}

.skills-title {
  background-color: var(--ligh-gray);
  border-radius: 20px;
  color:var(--main-green);
  font-size: 1.2em;
  padding: 10px;
  position: absolute;
  margin: 10px 50%;
}

.skills-front {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}

.skill-icon {
  margin: 5px;
  margin-top: 50px;
  padding: 10px;
}

.skill-span {
  padding: 10px;
  margin: 5px;
}

.skills-back {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}

.skills-other {
  position: relative;
  display: flex;
  justify-content: center;
}
